.slider {
    margin-top: 1.5rem;
}

.filter__price-inputs {
    margin-top: 2rem;
    display: flex;
}

.filter__price-label {
    font-weight: 400;
    max-width: 10.8rem;
    display: flex;
    align-items: center;
    padding: 0.9rem 1.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 2px;

    &:last-child {
        margin-left: 1.3rem;
    }
}

.filter__price-text {
    font-size: 1.2rem;
}

.filter__price-input {
    font-family: inherit;
    font-size: 1.5rem;
    color: black;
    width: 100%;
    border: none;

    &::placeholder {
        font-family: inherit;
        color: #b3b3b3;
    }

    &:focus {
        border-bottom: 1px solid #c93e33;
    }
}

.MuiSlider-root {
    color: #c93e33 !important;
}

.MuiSlider-rail {
    color: #e6e6e6 !important;
}

.MuiSlider-thumb {
    width: 1.3rem !important;
    height: 1.3rem !important;
    &:hover {
        box-shadow: 0px 0px 0px 4px #ffc6c2 !important;
    }
}

.MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 6px #ffc6c2 !important;
}

.MuiSlider-thumb.Mui-active {
    box-shadow: 0px 0px 0px 8px #ffc6c2 !important;
}
