.breadcrumbs {
    display: flex;
    margin-top: 1.7rem;
}

.breadcrumbs__item {
    &:not(:first-child) {
        margin-left: 1.3rem;

        &::before {
            content: ">";
            margin-right: 1.3rem;
            color: #b3b3b3;
        }
    }

    &:last-child {
        a {
            color: black;
            font-weight: 500;
        }
    }

    a {
        color: #b3b3b3;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 300;

        &:hover {
            text-decoration: underline;
        }
    }
}
