@import "./reset.scss";

html {
    font-size: 62.5%;
}

body {
    background-color: #e5e5e5;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
}

.content {
    display: flex;
    margin-top: 3rem;
    background-color: white;
    border: 1px solid #e6e6e6;
}

.page__wrapper {
    margin-top: 3rem;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.form__wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
