.cart__form-wrapper {
    padding: 1.8rem 2rem;
}

.cart__form-title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: #b3b3b3;
}

.form__sum-wrapper {
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 500;
}

.form__sum {
    color: #c93e33;
}

.cart__form-actions {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
}

.cart__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.2;
    color: white;
    border: none;
    background-color: #c93e33;
    border-radius: 4px;
    padding: 1.3rem 3.2rem;

    &--offer {
        margin-top: 1rem;
        background-color: white;
        border: 1px solid #c93e33;
        color: #c93e33;
    }

    transition: all 0.2s ease;

    &:hover {
        opacity: 0.7;
    }

    img {
        margin-right: 2.6rem;
    }
}

.offer__btn-wrapper {
    display: flex;
    text-align: left;
    position: relative;
    align-items: center;
}

.offer__btn-doc {
    display: flex;
    background-color: #c93e3310;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 3rem;
    margin-right: 2.6rem;
    border-radius: 2px;

    img {
        margin-right: 0;
        padding: 0.7rem;
    }
}

.offer__btn-download {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    background: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.cart__input-wrapper {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem 0;
    position: relative;

    &:first-child {
        margin-top: 3rem;
    }

    &--error {
        border-bottom: 1px solid #c93e33;
    }

    img {
        opacity: 1;
    }
}

.cart__form-input {
    border: none;
    background-color: none;
    font-family: inherit;
    width: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;

    &:focus ~ .cart__form-label,
    &:not(:placeholder-shown) ~ .cart__form-label {
        top: -1rem;
        font-size: 1.2rem;
        font-weight: 400;
        left: 0;
    }
}

.cart__form-label {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #b3b3b3;
    font-size: 1.5rem;
    font-weight: 300;
    pointer-events: none;
    transition: all 0.3s ease;
}
